<div class="container">
  <header class="jumbotron">
  	<div >
  	  	<div class="row">
  		<div class="col-md-4">
  			<img
		      id="profile-img"
		      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
		      class="profile-img-card"
		      style="width:100px"
		    />
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-8">
  			<h4>Test Demo</h4>
  		</div>
  		
  	</div>
  	<div class="row">
  		<div class="col-md-12">
  			<p>This is the Test Demo data.</p>
  		</div>
  		
  	</div>
    </div>
    <div >
  	  	<div class="row">
  		<div class="col-md-4">
  			<img
		      id="profile-img"
		      src="https://product-images-durios.s3.amazonaws.com/product-images-durios48px-601.png"
		      class="profile-img-card"
		      style="width:100px"
		    />
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-8">
  			<h4>Companign 1</h4>
  		</div>
  		
  	</div>
  	<div class="row">
  		<div class="col-md-12">
  			<p>This is the Test Demo data.Plesae check details regarding this . </p>
  		</div>
  		
  	</div>
    </div>
    <div >
  	  	<div class="row">
  		<div class="col-md-4">
  			<img
		      id="profile-img"
		      src="https://product-images-durios.s3.amazonaws.com/product-images-durios54076-627.png"
		      class="profile-img-card"
		      style="width:100px"
		    />
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-8">
  			<h4>Companign Name3</h4>
  		</div>
  		
  	</div>
  	<div class="row">
  		<div class="col-md-12">
  			<p>This is the Test Demo data.</p>
  		</div>
  		
  	</div>
    </div>
    
  </header>
</div>